/* RESET */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
	color: inherit;
}
a {
	text-decoration: none;
	color: inherit;
}

/* CUSTOM VARIABLES */

:root {
	/* --midnight-green */
	--dark01: #094451;
	/* --brunswick-green */
	--dark02: #11544f;
	/* --turquoise */
	--light01: #2ecbb6;
	/* --lapiz-lazuli */
	--neutro: #0e5480;
	/* --aero */
	--light02: #05b3da;
}

/* CUSTOM STYLES */

body {
	font-family: 'Karla', sans-serif;
}

.container {
	padding: 0 2rem;
}

p {
	font-size: 1.2rem;
}
